@import './vendor/minireset.css';

:root {
  --nm-gold: rgb(228, 228, 72);
  --nm-gold-muted: rgba(228, 228, 72, 0.25);
  --nm-off-white: rgba(255, 255, 240, 0.7);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  background-color: rgb(22, 22, 22);
  color: var(--nm-off-white);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title {
  font-weight: 500;
}

.title::before {
  content: '';
  background-color: var(--nm-gold);
  display: inline-block;
  width: 0.8em;
  height: 0.8em;
  margin-right: 0.5em;
  border-radius: 50%;
  vertical-align: middle;
  animation: blink 2.5s infinite linear;
  transform: translate3d(0, -0.05em, 0);
}

@keyframes blink {
  0% {
    background-color: var(--nm-gold);
  }
  50% {
    background-color: var(--nm-gold-muted);
  }
  100% {
    background-color: var(--nm-gold);
  }
}
